# Dependências
node_modules
.pnp
.pnp.js

# Arquivos de build
.next
out
build
dist

# Arquivos de cache
.vercel
.turbo
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
*.pem

# Testes
coverage
*.lcov

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git
.gitignore

# Outros
README.md
LICENSE 